body{
    justify-items: center;
    align-items: center;
    padding: 50px 50px;
    background-color: rgb(159, 170, 203);
    height: 50vh;
    width: 55vh;
    margin-left: 55vh;
    margin-top: 20vh;
    border-radius: 5px;

}